.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.tileDiv {
  width: 160px;
  height: 160px;
  padding: 0;
  margin: 0;
  position: absolute;
}

.tile {
  width: 160px;
  height: 160px;
  background-size: cover;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: yellow;
  position: relative;
  z-index: 9999;
  transition: none;
}

.toAnimate {
  transition: transform 1s;
}

.tilePar {
  opacity: 909999999;
}



.overlay {
  width: 800px;
  height: 800px;
  position: absolute;
  z-index: 1;
}

.container {
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.board {
  position: relative;
  /* display: flex;
  flex-wrap: wrap; */
  width: 800px;
  height: 800px;
  margin: 50px auto;

}


.extraTile {
  width: 160px;
  height: 160px;
  transition: none;
  position: relative;
  margin: 0 auto;
}

.extraDiv {
  position: absolute;
  width: 160px;
  height: 160px;
  transition: transform .5s;
  top: 1000px;
  left: 400px;
}

.curved {
  background-image: url('./img/curved.png')
}
.straight {
  background-image: url('./img/straight.png')
}
.open {
  background-image: url('./img/open.png')
}

.rot1 {
  transform: rotate(90deg)
}

.playerDiv {
  position: absolute;
  width: 160px;
  height: 160px;
  transition: none;
}

.playerDivTransition {
  position: absolute;
  width: 160px;
  height: 160px;
  transition: all .3s linear;
}

.player {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  z-index: 99999;
  top: 40px;
  left: 40px;
  transition: all 1s;
  transition-timing-function: linear;
}

.player1 {
  background-color: blue;

}

.player2 {
  background-color: green;


}

.player3 {
  background-color: black;


}

.player4 {
  background-color: red;


}

/* mission cards */

.mission-card {
  position: absolute;
  top: 900px;
  left: 50px;
  height: 300px;
  width: 200px;
  border: 2px solid black;
  background-color: yellow;
  opacity: .7;
}